#!/usr/bin/env python3

import requests

headers = {{headers}}
data='''{{data}}'''
r = requests.request(method={{method}}, url={{url}}, headers=headers, data=data)

print(r.status_code)

print(r.text)
for i in r.headers:
    print(i + ": " + r.headers[i])

#import code
#code.interact(local=locals())
