#!/usr/bin/env python3

from flask import Flask, app, Response

app = Flask(__name__)

@app.route('/')
def index():
    body = '''{{body}}'''
    headers = {{headers}}
    resp = Response(body,headers=headers, status={{status}})
    return resp

if __name__ == '__main__':
   app.run(debug = False,port=7777)