#!/usr/bin/env python3

import socket

{% if ':' in host %}
s = socket.socket(socket.AF_INET6, socket.SOCK_DGRAM)
{%else%}
s = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
{%endif%}

data = {{data}}

s.bind(('', {{srcport}}))
addr = ({{host}}, {{port}})
s.sendto(data,addr)

print(s.recvfrom(4096))